**My First Assignment**

Introduction

Data Science Languages:
1. SQL
2. Python
3. R
4. Scala

Data Science Libraries:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Scipy
6. Tensorflow
7. Keras
8. Seaborn
9. Plotly
10. Pytorch

# Data Science Tools

| Tool Name         | Category               | 
|-------------------|------------------------|
| Python            | Programming Language   | 
| R                 | Programming Language   | 
| Jupyter Notebook  | Development Environment|  
| Tableau           | Data Visualization     | 
| Apache Spark      | Big Data Processing    |                              
| SQL               | Query Language         |

Introduction to arithematic expressions:

- **Addition**: `5 + 3 = 8`
- **Subtraction**: `10 - 4 = 6`
- **Multiplication**: `7 * 2 = 14`
- **Division**: `16 / 4 = 4`
- **Exponentiation**: `2^3 = 8`

In [5]:
# Arithermematic Operations

print (10+30 * 40)
print (30+40)
print (4.5 * 9.9)

1210
70
44.550000000000004

In [9]:
# Convert minutes to hours

minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

# Objectives

- Understand the basic concepts of data science tools.
- Learn how to use Jupyter Lab.
- Familiarize with Markdown Cells and Code Cells.
- Familiarize with Arithematic Operations.

*Author's Name: Ramya Venkatasheshaiah*